body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    height: 100%;
    pointer-events: none;
}

.overlay.fadeOut {
    display: block;
    pointer-events: none;
    animation: fadeOut 0.3s forwards;
}

.overlay.fadeIn {
    display: block;
    pointer-events: all;
    animation: fadeIn 0.3s forwards;
}

.menu-bar-container {
    width: 100%;
    min-height: 60px;
}

.menu-bar-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
}

.menu-bar {
    background-color: #F01E1E;
    height: 60px;
    display: flex;
}

.menu-options-container {
    display: flex;
    flex-direction: column;
    z-index: 11;
    background-color: #FFFFFF;
    width: 300px;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: -300px;
    height: 100%;
}

.menu-header {
    background-color: #F01E1E;
    color: #FFFFFF;
    padding: 15px 0 15px 15px;
    font-size: 18px;
}

.menu-options-container.swipeOut {
    animation: swipeOut 0.3s forwards;
}

.menu-options-container.swipeIn {
    animation: swipeIn 0.3s forwards;
}

.menu-option {
    padding: 15px;
    cursor: pointer;
}

.menu-option-icon {
    display: inline-block;
    width: 50px;
}

.menu-option-seperator {
    border-top: 1px solid #6d6d6d;
}

.menu-option-footer {
    margin-top: auto;
}

#menu-icon {
    width: 40px;
    height: 3px;
    box-shadow: inset 0 0 0 36px,0 -12px,0 12px;
    align-self: center;
}

#menu-clock {
    margin-left: auto;
    align-self: center;
    padding: 0 15px 0 0;
    font-size: 38px;
    color: #FFFFFF;
}

span.icon, div.icon-menu {
    color: #000000;
}

@keyframes swipeIn {
    0% {
        left: -300px;
        box-shadow: 3px 0px 5px 0px rgba(0,0,0,0);
    }

    100% {
        left: 0px;
        box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    }
}

@keyframes swipeOut {
    0% {
        left: 0px;
    }

    100% {
        left: -300px;
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }

    100% {
        background: rgba(0, 0, 0, 0.5);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.5);
    }

    100% {
        background: rgba(0, 0, 0, 0);
    }
}